<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.heima.mapper.AddMapper">

    <!--    新增-->
<!--    <insert id="insert">-->
<!--        insert into db1.t_add(description, price, image, lastUpdateBy, createTime, updateTime)-->
<!--        values (-->
<!--        #{description}, #{price}, #{image}, #{lastUpdateBy}, NOW(), NOW()-->
<!--        )-->
<!--    </insert>-->


    <!--    刪除-->
    <delete id="delete">
        <if test="ids != null and ids != ''">
            delete from t_add where addID in
            <foreach collection="ids" item="addID" separator="," open="(" close=")">
                #{addID}
            </foreach>
        </if>
    </delete>

    <update id="update">
        update t_add
        <set>
            <if test=" shopID != null and shopID != ''">shopID = #{shopID} ,</if>
            <if test=" description != null and description != ''">description = #{description} ,</if>
            <if test=" price != null and price != ''">price = #{price},</if>
            <if test=" image != null and image != ''">image = #{image},</if>
            <if test=" lastUpdateBy != null and lastUpdateBy != ''">lastUpdateBy = #{lastUpdateBy},</if>

            updateTime = NOW()
        </set>
        where addID = #{addID};
    </update>

    <!--    查詢所有-->
    <select id="selectAll" resultType="com.heima.pojo.Add">
        select * from db1.t_add;
    </select>


    <select id="selectByAddName" resultType="com.heima.pojo.Add">
        select * from db1.t_add where productName = #{productName};
    </select>

    <select id="selectByID" resultType="com.heima.pojo.Add">
        select * from db1.t_add where addID = #{addID};
    </select>

    <select id="selectAllByShopID" resultType="com.heima.pojo.Add">
        select * from db1.t_add where shopID = #{shopID}
    </select>
</mapper>
