<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.heima.mapper.MenuMapper">

    <!--    新增-->
<!--    <insert id="insert">-->
<!--        insert into db1.t_menu(menuName,   productIDs,   coda,   startTime,   endTime,lastUpdateBy, createTime, updateTime)-->
<!--        values (-->
<!--                             #{menuName},#{productIDs},#{coda},#{startTime},#{endTime},#{lastUpdateBy}, NOW(), NOW()-->
<!--        )-->
<!--    </insert>-->


    <!--    刪除-->
    <delete id="delete">
        <if test="ids != null and ids != ''">
            delete from t_menu where menuID in
            <foreach collection="ids" item="menuID" separator="," open="(" close=")">
                #{menuID}
            </foreach>
        </if>
    </delete>

    <update id="update">
        update t_menu
        <set>
            <if test=" menuName != null and menuName != ''">menuName = #{menuName} ,</if>
            <if test=" productIDs != null and productIDs != ''">productIDs = #{productIDs},</if>
            <if test=" coda != null and coda != ''">coda = #{coda},</if>
            <if test=" startTime != null and startTime != ''">startTime = #{startTime},</if>
            <if test=" endTime != null and endTime != ''">endTime = #{endTime},</if>
            <if test=" lastUpdateBy != null and lastUpdateBy != ''">lastUpdateBy = #{lastUpdateBy},</if>
            <if test=" lastUpdateBy != null and lastUpdateBy != ''">lastUpdateBy = #{lastUpdateBy},</if>
            <if test=" lastUpdateBy != null and lastUpdateBy != ''">lastUpdateBy = #{lastUpdateBy},</if>

            updateTime = NOW()
        </set>
        where menuID = #{menuID};
    </update>

    <!--    查詢所有-->
    <select id="selectAll" resultType="com.heima.pojo.Menu">
        select * from db1.t_menu;
    </select>

    <select id="selectByID" resultType="com.heima.pojo.Menu">
        select * from db1.t_menu where menuID = #{menuID};
    </select>

</mapper>
