<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.heima.mapper.ProductMapper">

    <!--    新增-->
<!--    <insert id="insert">-->
<!--        insert into db1.t_product(shopID, addIDs, productName, price, productType, image, lastUpdateBy, createTime, updateTime)-->
<!--        values (-->
<!--        #{shopID}, #{addIDs}, #{productName}, #{price}, #{productType}, #{image}, #{lastUpdateBy}, NOW(), NOW()-->
<!--        )-->
<!--    </insert>-->


    <!--    刪除-->
    <delete id="delete">
        <if test="ids != null and ids != ''">
            delete from t_product where productID in
            <foreach collection="ids" item="productID" separator="," open="(" close=")">
                #{productID}
            </foreach>
        </if>
    </delete>

    <update id="update">
        update t_product
        <set>
            <if test=" shopID != null and shopID != ''">shopID = #{shopID} ,</if>
            <if test=" addIDs != null and addIDs != ''">addIDs = #{addIDs},</if>
            <if test=" productName != null and productName != ''">productName = #{productName},</if>
            <if test=" price != null and price != ''">price = #{price},</if>
            <if test=" productType != null and productType != ''">productType = #{productType},</if>
            <if test=" category != null and category != ''">category = #{category},</if>
            <if test=" image != null and image != ''">image = #{image},</if>
            <if test=" lastUpdateBy != null and lastUpdateBy != ''">lastUpdateBy = #{lastUpdateBy},</if>

            updateTime = NOW()
        </set>
        where productID = #{productID};
    </update>

    <update id="updateCategory">
        update db1.t_product set category = #{newCategory} where category = #{oldCategory} and shopID = #{shopID};
    </update>

    <!--    查詢所有-->
    <select id="selectAll" resultType="com.heima.pojo.Product">
        select * from db1.t_product;
    </select>


    <select id="selectByProductName" resultType="com.heima.pojo.Product">
        select * from db1.t_product where productName = #{productName};
    </select>

    <select id="selectByID" resultType="com.heima.pojo.Product">
        select * from db1.t_product where productID = #{productID};
    </select>

    <select id="selectByShopID" resultType="com.heima.pojo.Product">
        select * from db1.t_product where shopID = #{shopID};
    </select>

</mapper>
